.popup__button_type_close{
  position: absolute;
  top: -38px;
  right: -38px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../../images/CloseIcon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__button_type_close:hover{
  opacity: 0.6;
}
@media screen and (max-width: 400px) {
  .popup__button_type_close{
    top: -46px;
    right: 0;
  }
}